/*----------------------------------Font Consistency of page----------------------------------*/
body {
 font-family:Arial, Helvetica, sans-serif;
 font-size: 12pt;
}
/*----------------------------------GRID LAYOUT----------------------------------*/
.grid-container {
 display: grid;
 grid-template-columns: 300px 1fr 1fr 2fr;
 grid-template-rows: 250px auto 60px 1fr;
 gap: 1px 1px;
 border: 1px solid black;
 grid-template-areas: "logo menu menu menu " "content content content content" "content content content content" "footer footer footer footer";
}
.logo {
 grid-area: logo;
 background: #8d99ae;
}

.menu {
 grid-area: menu;
 background: #FF5757;
 align-items: center;
 justify-content: space-between;
 font-size: 30px;
 font-style: italic;
}

.content {
 grid-area: content;
 background: #ffffff;
}

.footer {
 grid-area: footer;
 background: #FF5757;
 color: #ffffff;
 text-align: center;
 font-size: 20px;
 align-content: center;
}
/*----------------------------------End Of Grid Layout----------------------------------*/

/*----------------------------------Button Layout----------------------------------*/
.button {
 float: right;
 margin: 10px;
 padding: 15px;
 text-decoration: none;
 text-align: center;
 font-size: 30px;
 border: none;
 color: #ffffff;
}

.button a {
 display: block;
 color: #000000;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 background-color: palevioletred;
 align-items: center;
}

.active {
 float: right;
 margin: 10px;
 padding: 15px;
 text-decoration: none;
 text-align: center;
 font-size: 30px;
 border: none;
 color: #000000;
}

.button:hover {
 padding: 15px;
 background-color: #d80032;
}
.active:hover {
 padding: 15px;
 background-color: #d80032;
}
/*----------------------------------End Of Button Layout----------------------------------*/

/*----------------------------------Containers/background containers----------------------------------*/
.descriptioncontainer {
 display: flex;
 flex-direction: column;
 margin: auto;
 justify-content: center;
}

/*----------------------------------End Of Containers/Background Containers----------------------------------*/

/*----------------------------------Styling for elements----------------------------------*/
.desc {
    width: 1200px;
    margin: auto;
}
.smalldescription {
 width: 400px;
}

p {
 font-size: 20px;
}

.h1-style {
 text-transform: uppercase;
 border-bottom: 2px solid blue;
 text-align: left;
 color: #2541b2;
}

.h2-style {
 text-transform: uppercase;
 border-bottom: 2px solid #815839;
 text-align: center;
 color: #eb0884;
 margin-left: 50px;
 margin-right: 50px;
}

.videos {
 width: 1000px;
 text-align: center;
 margin: auto;
}
li{
    width: 300px;
    text-align: center;
    margin-left: 415px;
    font-size: 20px;
}
/*----------------------------------End Of Styling for elements----------------------------------*/



/*----------------------------------Table Styling for elements----------------------------------*/
table,
th,
td {
    border: 1px solid;
    text-align: center;

}
#estimationTable {
    width: 100%;
    background-color: #d6d6d6;
}

#estimationTableHead th {
    background-color: #ef233c;
    font-size: 20px;
    padding:15px;
}

#estimationTable tr:nth-child(odd) {
    background-color: #ffffff;
}

#estimationTable tr {
    font-size: 16px;
    padding: 5px;
}

#estimationTable td {
    text-align: center;
    padding:10px;
    font-size: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/*----------------------------------End Of Table Styling for elements----------------------------------*/
